main {
    overflow: hidden;
    #section-1 {
        width: 90%;
        max-width: 1600px;
        margin: 0 auto;
        @include flex( center, center, 2rem, column, nowrap);
        padding: 1rem 2.5rem 4rem;
        margin-bottom: 10rem;
        @media screen and (min-width: 768px) {
            flex-direction: row-reverse;
            overflow: visible;
            padding: 0;
        }
        .hero-image-box {
            @include flex( center, center);
            width: 100%;
            @media screen and (min-width: 768px) {
                width: auto;
            }
            img {
                position: relative;
                width: 150%;
                right: -30%;
                @media screen and (min-width: 768px) {
                    width: 170%;
                    right: -20%;
                }
            }
        }
        .hero-text-box {
            @include flex( center, center, 1rem, column, nowrap);
            width: 100%;
            @media screen and (min-width: 768px) {
                width: 50%;
            }
            h1 {
                font-size: 2.5rem;
                font-weight: 700;
                color: $violet;
                text-align: center;
                line-height: 1.2;
                @media screen and (min-width: 768px) {
                    font-size: 5rem;
                    text-align: left;
                }
            }
            p {
                font-weight: 400;
                color: $grayish-violet;
                text-align: center;
                line-height: 1.4;
                margin-bottom: 1rem;
                @media screen and (min-width: 768px) {
                    text-align: left;
                    font-size: 1.5rem;
                }
            }
            a {
                @extend %buttonStyle;
            }
        }
    }
    #section-2 {
        background-color: #eff1f7;
        form {
            position: relative;
            transform: translateY(-50%);
            width: 90%;
            max-width: 1600px;
            margin: 0 auto;
            @include flex( center, center, 1rem, column, nowrap);
            padding: 2.5rem;
            background: url(../images/bg-shorten-mobile.svg) no-repeat top right;
            background-color: $violet;
            border-radius: 15px;
            @media screen and (min-width: 768px) {
                background: url(../images/bg-shorten-desktop.svg) no-repeat center;
                background-color: $violet;
                background-size: cover;
                flex-direction: row;
            }
            input {
                all: unset;
                width: 100%;
                background-color: $white;
                padding: 1rem 1.5rem;
                font-size: 18px;
                inset: 0;
                border-radius: 10px;
                box-sizing: border-box;
            }
            button {
                all: unset;
                white-space:nowrap;
                color: $white;
                background-color: $cyan;
                border-radius: 10px;
                padding: 1rem 2rem;
                width: 100%;
                box-sizing: border-box;
                text-align: center;
                @media screen and (min-width: 768px) {
                    min-width: fit-content;
                    width: 10%;
                }
            }
        }
    }
    #section-3 {
        background-color: #eff1f7;
        padding: 2rem 0 4rem;
        h2 {
            @include titre($violet);
            margin-bottom: 1rem;
        }
        .subtitle {
            color: $grayish-violet;
            text-align: center;
            margin: auto;
            width: 90%;
            @media screen and (min-width: 768px) {
                max-width: 50%;
            }
        }
        .cards {
            @include flex( center, center, 6rem, column, nowrap);
            width: 90%;
            max-width: 1600px;
            margin: 0 auto;
            margin-top: 8rem;
            @media screen and (min-width: 768px) {
                @include flex( space-between, center, 2rem, row, nowrap);
            }
            .card {
                @include flex( center, center, 1rem, column, nowrap);
                width: 32%;
                height: 100%;
                background-color: $white;
                border-radius: 10px;
                padding: 6rem 2rem 3rem;
                position: relative;
                @media screen and (min-width: 768px) {
                    @include flex( center, flex-start, 1rem, column, nowrap);
                    width: 30%;
                    margin-bottom: 0;
                }
                .card-icon {
                    @include flex( center, center);
                    position: absolute;
                    top: 0;
                    transform: translateY(-50%);
                    background-color: $violet;
                    border-radius: 50%;
                    width: 100px;
                    height: 100px;
                    img {
                        width: 50%;
                    }
                }
                h3 {
                    font-size: 1.5rem;
                    font-weight: 700;
                    color: $violet;
                    margin-bottom: 1rem;
                }
                p {
                    color: $grayish-violet;
                    text-align: center;
                    @media screen and (min-width: 768px) {
                        text-align: left;
                    }
                }
            }
            .card-1, .card-2 {
                &::before {
                    content: '';
                    display: inline-block;
                    width: 4rem;
                    height: 0.5rem;
                    background-color: $cyan;
                    position: absolute;
                    @media screen and (min-width: 768px) {
                        top: 50%;
                        right: -4rem;
                    }
                }
            }
            .card-2 {
                &::before {
                    @media screen and (min-width: 768px) {
                        top: 40%;
                    }
                }
                @media screen and (min-width: 768px) {
                    margin-top: 4rem;
                }
            }
            .card-3 {
                @media screen and (min-width: 768px) {
                    margin-top: 8rem;
                }
            }
        }
    }
}