* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: white;
  font-size: 18px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  color: #fff;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 0;
  flex-direction: row;
  flex-wrap: nowrap;
  width: 90%;
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem 0;
}
@media screen and (min-width: 768px) {
  header .container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
header .container .navigation {
  display: none;
}
header .container .navigation a {
  font-weight: 700;
}
header .container .navigation.active {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  position: absolute;
  height: auto;
  z-index: 999;
  top: 6rem;
  left: 0;
  right: 0;
  background-color: hsl(257, 27%, 26%);
  width: 90%;
  margin: auto;
  border-radius: 10px;
  padding: 2rem;
}
header .container .navigation.active nav {
  border-bottom: 1px solid hsl(257, 7%, 63%);
  width: 100%;
  padding-bottom: 2rem;
}
header .container .navigation.active nav ul {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
}
header .container .navigation.active .navigation_buttons {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
  flex-wrap: nowrap;
  width: 100%;
}
header .container .navigation.active .navigation_buttons a:last-child {
  background-color: hsl(180, 66%, 49%);
  padding: 0.5rem 2rem;
  width: 100%;
  border-radius: 50px;
  color: white;
  transition: 0.3s ease-in-out;
  text-align: center;
}
header .container .navigation.active .navigation_buttons a:last-child:hover {
  background-color: #7ce4e4;
}
@media screen and (min-width: 768px) {
  header .container .navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 0;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
    margin-left: 2rem;
  }
  header .container .navigation nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  header .container .navigation nav ul li a {
    color: hsl(257, 7%, 63%);
    transition: 0.3s ease-in-out;
  }
  header .container .navigation nav ul li a:hover {
    color: hsl(257, 27%, 26%);
  }
  header .container .navigation .navigation_buttons {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    flex-direction: row;
    flex-wrap: nowrap;
  }
  header .container .navigation .navigation_buttons a {
    color: hsl(257, 7%, 63%);
    transition: 0.3s ease-in-out;
  }
  header .container .navigation .navigation_buttons a:hover {
    color: hsl(257, 27%, 26%);
  }
  header .container .navigation .navigation_buttons a:last-child {
    background-color: hsl(180, 66%, 49%);
    padding: 0.5rem 2rem;
    border-radius: 50px;
    color: white;
    transition: 0.3s ease-in-out;
  }
  header .container .navigation .navigation_buttons a:last-child:hover {
    background-color: #7ce4e4;
  }
}
header .container .hamburger {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 6px;
  border: none;
  background-color: transparent;
}
header .container .hamburger:hover {
  cursor: pointer;
}
@media screen and (min-width: 768px) {
  header .container .hamburger {
    display: none;
  }
}
header .container .hamburger span {
  width: 35px;
  height: 5px;
  background-color: hsl(257, 7%, 63%);
}/*# sourceMappingURL=style.css.map */